body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-tabs__tab-list {
  border-bottom: none !important;
  text-align: center;
  margin-bottom: 40px !important;
}

.react-tabs__tab--selected {
  background: unset !important;
  border-color: unset !important;
}

.react-tabs__tab {
  border: none !important;
  padding: 6px !important;
}

.react-tabs__tab--selected::after {
  position: absolute;
  content: '';
  width: 50%;
  height: 4px;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
